* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}


.header {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 50px 75px 110px 3fr 40px 40px 50px 40px;
  grid-template-rows: (1, 100px);
  padding: 15px 30px;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
}

.appear {
    display: none;
  }

.header div:nth-child(1) {
  font-size: x-large;
  color: red;
  cursor: pointer;
  text-align: center;
}

.header .icon:hover {
  background-color: #eeee;
  border: 5px solid #eeee;
  border-radius: 50px;
  padding: 2px;
}

.header div:nth-child(2) {
  border-radius: 25px;
  font-size: 20px;
  font-family: "Jaldi", sans-serif;
  padding: 5px 16px;
  cursor: pointer;
  text-align: center;
  background: rgb(37, 37, 37);
  color: white;
  cursor: pointer;
}

.circle1 {
  display: none;
  cursor: pointer;
}
.follow {
  color: black;
  font-family: "Reem Kufi", sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
}

.header .follow:hover {
  background-color: #eeee;
  border: 1px solid #eeee;
  border-radius: 25px;
}

.search input {
  position: relative;
  border-radius: 25px;
  padding-left: 35px;
  background-color: #eeeeee;
  height: 50px;
  border-color: #eeeeee;
  min-width: 300px;
  width: 100%;
  outline: 0;
}

.search i {
  position: absolute;
  margin: 16px 0;
  margin-left: 15px;
  color: #767676;
  padding: 0;
  z-index: 1;
}

.bells {
  font-size: 25px;
  color: #767676;
  text-align: center;
  cursor: pointer;
}

.header .bells:hover {
  background-color: #eeee;
  border: 5px solid #eeee;
  border-radius: 50px;
  padding: 2px;
}
.comment {
  font-size: 25px;
  text-align: center;
  color: #767676;
  cursor: pointer;
}

.header .comment:hover {
  background-color: #eeee;
  border: 5px solid #eeee;
  border-radius: 50px;
  padding: 2px;
}
.name {
  font-size: 10px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #eeeeee;
  width: 22px;
  height: 22px;
  padding-top: 4px;
  background-color: #eeeeee;
  cursor: pointer;
  margin-left: 7px;
}

.header .name:hover {
  background-color: #eeee;
  border: 4px solid #eeee;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}
.circle {
  font-size: 25px;
  cursor: pointer;
  text-align: center;
}

.header .circle:hover {
  background-color: #eeee;
  border: 8px solid #eeee;
  border-radius: 50px;
}

.test {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 200px));
  margin-top: 80px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 0 30px;
  gap: 20px;
  grid-template-areas: "a b c d e";
}

.slides {
  grid-area: a;
}

.slides2 {
  grid-area: b;
}

.slides3 {
  grid-area: c;
}

.slides4 {
  grid-area: d;
}

.slides5 {
  grid-area: e;
}

.slides6 {
  display: none;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 40px;
  cursor: zoom-in;
}

.images {
  position: absolute;
  visibility: hidden;
  top: 10px;
}

.slides:hover .images {
  visibility: visible;
}
@media only screen and (max-width: 850px) {
  .follow {
    display: none;
  }
  .circle1 {
    display: block;
  }

  .header div:nth-child(2) {
    background-color: white;
    border: 1px solid white;
    color: black;
    margin-right: 10px;
  }

  .header div:nth-child(2):hover {
    background-color: #eeee;
    border: 1px solid #eeee;
  }
  .bells {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .search {
    display: none;
  }
  .appear {
    display: inline;
  }

  .test {
    grid-template-areas:
      "a b e"
      "c d f";
  }
  .slides6 {
    display: block;
  }
  .slides6 {
    grid-area: f;
  }
  .test {
    grid-template-columns: repeat(auto-fit, minmax(1fr, auto));
  }
}
